.calculator {
    width: 370px;
    margin: 60px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}

.calculator input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 24px;
}