.keyboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.keyboard button {
    width: 80px;
    height: 80px;
    display: block;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.keyboard button.big {
    width: 48%;
}